<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Braking News! {{ article.title }}</title>
</head>
<body>
    <p> category: {{ article.category }}</p>
    <p> Written by : {{ article.author }}</p>
    <p> Posted At: {{ article.created_at }}</p>
    <br>
        <p>{{ article.content }}</p>

</body>
</html>