<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Articles: </title>
    <style>
        input {display: block;}
        textarea {display: block;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="
    sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="col-md-8 col-sm-6 col-xs-12 sidebar"
            <div class="form-group">
              {{ form }}
            </div>
            <input type="submit" class="btn btn-outline-primary" name="Create Article">
        </div>
    </div>
</form>
<ul>
    {% for article in articles %}
    <div class="container">
        <li>
            <a href="http://localhost:8080/blog/articles/{{ article.id }}"> {{article.title}} </a>
        </li>
    </div>
    {% endfor %}
</ul>

</body>
</html>